.MyNavBar-links{
    font-family: 'Lato', sans-serif;
    font-size: var(--xs);
    color: var(--silver-pink) !important;
    border-radius: 4px;
    border-bottom: 3px solid transparent !important;
}
.MyNavBar-links:hover {
    transform: translateY(-2px);
}

.navbar-nav .nav-link.active {
    border-bottom: 3px solid var(--silver-pink) !important;
    transition: border-bottom .5s ease-in-out !important;
}

.MyNavBar-brand {
    margin-left: var(--xl);
    font-size: var(--s);
    padding: var(--xs);
    font-family: 'Playfair Display', serif;
    color: var(--linen) !important;
}

.MyNavBar-bottomMargin{
    margin-bottom: var(--l);
}

.MyNavBar-background {
    background-color: var(--baby-powder);
}