.Projects-title1 {
    font-family: 'Playfair Display', serif;
    font-size: var(--xl);
    color: var(--baby-powder);
    margin: auto;
    margin-top: var(--l);
    margin-bottom: var(--s);
}
.Projects-sketches {
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Playfair Display', serif;
    font-size: var(--xl);
    color: var(--silver-pink);
}
.Projects-skills {
    display: flex;
    justify-content: center;
    width: 20ch;
    margin: auto;
    margin-top: 0;
    border-top: solid;
    border-bottom: solid;
    border-width: 2px;
    border-color: var(--linen);
    margin-bottom: var(--s);
    padding: .5em 0;
}
.Projects-skill {
    /* padding: 0 var(--s) var(--s) var(--m); */
    font-family: 'Lato', sans-serif;
    color: var(--baby-powder);
    font-size: var(--s);
    text-align: center;
}
@media only screen and (max-width: 414px) {
    .Projects-click {
        font-size: var(--xxs) !important;
        word-wrap: break-word;
    }
  }

.Projects-click {
    padding-top: var(--m);
    color: var(--silver-pink);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: var(--s);
    height: min-content;
    font-family: 'Lato', sans-serif;
    background-color: var(--baby-powder);
}
.Projects-page {
    /* padding-left: var(--xl); */
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--silver-pink);
}
.Projects-border {
    border-width: var(--m);
}
.Projects-line {
    border-width: 2px;
    border-color: var(--unbleached-silk);
    height: 2px;
    width: 10%;
    margin: auto;
    margin-bottom: var(--s);
    color: var(--unbleached-silk);
    background-color: var(--unbleached-silk);
    
}

.Projects-titleRow {
    display: flex;
    flex-direction: row;
}
.Projects-projects {
    margin: auto;
    margin-top: 0;
    width: 75%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Projects-card {
    position: relative;
    padding: 0;
    background-color: var(--baby-powder);
}
.Projects-image {
    display: block;
}
.Projects-card:hover .Projects-overlay {
    opacity: 1;
  }

.Projects-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--baby-powder);
  }
.Projects-title {
    font-family: 'Lato', sans-serif;
    color: var(--unbleached-silk);
    font-size: var(--m);
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .Projects-image {
    filter: grayscale(1);
  }